@use "../abstracts/_variables" as variables
@use "../abstracts/_mixins" as mixins

.filtro-conteudo
    width: 100%
    display: flex
    align-items: center
    gap: 5px
    cursor: pointer
    padding: 0 10px
    border-radius: 7px

    &:hover
        transition: ease-out 1s
        background-color: rgba(variables.$secondary-color,0.1 )

    svg
        fill: var(--tertiary-dark-to-primary-light)
        path
            // fill: #f00
            // stroke: red
            fill: var(--tertiary-dark-to-primary-light)
            stroke: var(--tertiary-dark-to-primary-light)

        // g
        //     path
        //     // fill: #f00
        //         fill: var(--tertiary-dark-to-primary-light)

    input[type="radio"]
        display: none

.tarefa-content-box
    width: 100%
    display: flex
    align-items: center
    background-color: rgba(variables.$secondary-color,0.2)
    border-radius: 7px
    padding: 0 10px

.tarefa-content
    width: 100%
    display: flex
    align-items: center
    gap: 10px
    cursor: pointer

    input[type="checkbox"]
        appearance: none
        border-radius: 100%
        width: 10px
        height: 10px
        border: 1px solid var(--tertiary-dark-to-primary-light)
        transition: 0.3s all linear
        cursor: pointer

        &:checked
            background-color: var(--tertiary-dark-to-primary-light)
            border: none

.tarefa-concluida
    text-decoration: line-through
    text-decoration-color: var(--tertiary-dark-to-primary-light)

.favoritar-tarefa-content
    @include mixins.flex-center()
    cursor: pointer

    svg
        fill: transparent
        path
            stroke: var(--tertiary-dark-to-primary-light)

//adicionar caso a tarefa seja favoritada
.tarefa-favoritada
    fill: var(--tertiary-dark-to-primary-light) !important
    stroke: var(--tertiary-dark-to-primary-light)

.descricao-tarefa
    width: 100%
    height: 30vh

.modal-header
    label
        cursor: pointer
        input
            @include mixins.input-style()
            max-width: 230px

        #modal-input--nome
            max-width: 180px

.modal-header--nome

    svg
        fill: var(--tertiary-dark-to-primary-light)

.modal-header--svg-nome
    background-color: var(--secondary-dark-to-primary-light)
    color: #FFF
    border-radius: 50%
    padding: 7px

.modal-body
    background-color: var(--gray-dark-to-secondary-light)
    width: 100%
    height: 60%
    border-radius: 7px
    padding: 15px
    .modal-input--descricao
        width: 100% !important
        height: 100%
        @include mixins.input-style()
        @include mixins.sub-title-style()
        resize: none

/* Estilizando o ícone do calendário */
input[type="date"]::-webkit-calendar-picker-indicator
    background-color: var(--secondary-dark-to-primary-light)
    color: #FFF !important
    border-radius: 50%
    padding: 7px

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button
    display: none

input[type="date"]::-webkit-input-placeholder
    color: var(--secondary-dark-to-primary-light)

input[type="date"]::-webkit-datetime-edit

    color: var(--secondary-dark-to-primary-light)
input[type="date"]::-webkit-datetime-edit-fields-wrapper

    color: var(--secondary-dark-to-primary-light)
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field

    color: var(--secondary-dark-to-primary-light)
