@charset "UTF-8";
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #9698E0, #6138F0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7F5DF5;
  border-radius: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #9698E0;
}

body {
  font-family: "Helvetica, Arial, sans-serif";
  line-height: 1.6;
}

.titulo {
  font-size: 60px;
  font-family: "Jost";
  color: var(--white-dark-to-secondary-light);
  font-weight: 600;
}
@media (max-width: 768px) {
  .titulo {
    font-size: 30px;
  }
}
.titulo span {
  color: var(--primary-dark-to-primary-light);
}

.sub-titulo {
  font-size: 30px;
  font-family: "Roboto";
  color: var(--secondary-dark-to-primary-light);
  font-weight: 500;
}
@media (max-width: 768px) {
  .sub-titulo {
    font-size: 15px;
  }
}

.texto {
  font-size: 20px;
  font-family: "Roboto";
  color: var(--tertiary-dark-to-primary-light);
  font-weight: 400;
}
@media (max-width: 768px) {
  .texto {
    font-size: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.conteudo {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
    gap: 3%;
  }
}

.filtros-content, .tarefas-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
@media (max-width: 768px) {
  .filtros-content, .tarefas-content {
    gap: 10px;
  }
}

.filtros-content-box, .tarefas-content-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filtro-selecionado {
  background-color: rgba(150, 152, 224, 0.2);
}

.tarefas-section {
  width: 67% !important;
  height: 100%;
  max-height: 10vh;
  overflow: auto;
}
@media (max-width: 768px) {
  .tarefas-section {
    width: 100% !important;
    height: 60% !important;
  }
}

.tarefas-box {
  width: 100%;
  height: max-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  max-height: 100%;
  background-color: var(--background-color-v2);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 40%;
  }
}

.uteis-content {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.uteis-content .link-github {
  width: 55px;
  height: 55px;
}
@media (max-width: 768px) {
  .uteis-content .link-github {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 768px) {
  .uteis-content .link-github svg {
    width: 25px;
    height: 25px;
  }
}
.uteis-content .link-github svg path {
  fill: var(--tertiary-dark-to-primary-light);
}

.filtros {
  justify-content: space-between;
}

/* */
.my-body {
  height: max-content;
}

.darkThemeBtn * {
  transition: all 0.3s;
}

.darkThemeBtn input {
  width: 0;
  height: max-content;
  visibility: hidden;
}

.darkThemeBtn label {
  background: #AEADC3;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.darkThemeBtn label:active {
  border-radius: 5px;
}
.darkThemeBtn label svg {
  position: absolute;
  width: 16px;
  transition: 0.3s;
  z-index: 1;
  fill: #18181C;
}
@media (max-width: 768px) {
  .darkThemeBtn label svg {
    width: 10px;
  }
}
.darkThemeBtn label svg.sun {
  width: 20px;
  opacity: 0;
  fill: #F3F3F3;
}
@media (max-width: 768px) {
  .darkThemeBtn label svg.sun {
    width: 13px;
  }
}
.darkThemeBtn label svg.moon {
  opacity: 1;
}
@media (max-width: 768px) {
  .darkThemeBtn label {
    width: 25px;
    height: 25px;
  }
}

.darkThemeBtn input:checked + label {
  background: #6138F0;
}

.darkThemeBtn input:checked + label svg.sun {
  opacity: 1;
}

.darkThemeBtn input:checked + label svg.moon {
  opacity: 0;
}

.darkThemeBtn input:checked ~ span {
  background-color: #16174b;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #9698E0, #6138F0);
  align-self: flex-end;
  cursor: pointer;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .btn {
    width: max-content !important;
    height: max-content !important;
    padding: 5px !important;
  }
}
@media (max-width: 768px) {
  .btn svg {
    width: 15px;
    height: 15px;
  }
}

.btn-abrir-modal {
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.btn-abrir-modal:hover {
  opacity: 0.7;
}

.btn-adicionar-tarefa {
  padding: 0 20px;
  width: max-content;
  max-width: 150px;
  color: #FFF;
  margin: 0;
}

.hide-btn {
  visibility: hidden;
}

.filtro-conteudo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 7px;
}
@media (max-width: 768px) {
  .filtro-conteudo {
    padding: 0 5px;
  }
}
.filtro-conteudo:hover {
  transition: ease-out 1s;
  background-color: rgba(150, 152, 224, 0.1);
}
.filtro-conteudo svg {
  fill: var(--tertiary-dark-to-primary-light);
}
@media (max-width: 768px) {
  .filtro-conteudo svg {
    width: 16px;
    height: 16px;
  }
}
.filtro-conteudo svg path {
  fill: var(--tertiary-dark-to-primary-light);
  stroke: var(--tertiary-dark-to-primary-light);
}
.filtro-conteudo input[type=radio] {
  display: none;
}

.tarefa-content-box {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(150, 152, 224, 0.2);
  border-radius: 7px;
  padding: 0 10px;
}

.tarefa-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.tarefa-content input[type=checkbox] {
  appearance: none;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 1px solid var(--tertiary-dark-to-primary-light);
  transition: 0.3s all linear;
  cursor: pointer;
}
@media (max-width: 768px) {
  .tarefa-content input[type=checkbox] {
    width: 7px;
    height: 7px;
  }
}
.tarefa-content input[type=checkbox]:checked {
  background-color: var(--tertiary-dark-to-primary-light);
  border: none;
}

.tarefa-concluida {
  text-decoration: line-through;
  text-decoration-color: var(--tertiary-dark-to-primary-light);
}

.favoritar-tarefa-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.favoritar-tarefa-content svg {
  fill: transparent;
}
@media (max-width: 768px) {
  .favoritar-tarefa-content svg {
    width: 10px;
    height: 10px;
  }
}
.favoritar-tarefa-content svg path {
  stroke: var(--tertiary-dark-to-primary-light);
}

.tarefa-favoritada {
  fill: var(--tertiary-dark-to-primary-light) !important;
  stroke: var(--tertiary-dark-to-primary-light);
  transition: 0.5s;
}

.descricao-tarefa {
  width: 100%;
  height: 30vh;
}

@media (max-width: 768px) {
  .modal-header {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .modal-header label {
    align-self: center;
    cursor: pointer;
  }
}
.modal-header label input {
  border: none;
  background-color: transparent;
  outline: none;
  width: max-content;
  color: var(--tertiary-dark-to-primary-light);
  max-width: 230px;
}
.modal-header label input::placeholder {
  color: var(--tertiary-dark-to-primary-light);
}
.modal-header label #modal-input--nome {
  max-width: 180px;
}
@media (max-width: 768px) {
  .modal-header label #modal-input--nome {
    max-width: 50%;
    width: 50% !important;
  }
}

.modal-header--nome svg {
  margin-left: 20px;
  fill: var(--tertiary-dark-to-primary-light);
}
@media (max-width: 768px) {
  .modal-header--nome svg {
    width: 29px;
    height: 29px;
    margin-right: 10px;
  }
}

.modal-header--svg-nome {
  background-color: var(--secondary-dark-to-primary-light);
  color: #FFF;
  border-radius: 50%;
  padding: 7px;
}

.modal-body {
  background-color: var(--gray-dark-to-secondary-light);
  width: 100%;
  height: 60%;
  border-radius: 7px;
  padding: 15px;
}
.modal-body .modal-input--descricao {
  width: 100% !important;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  width: max-content;
  color: var(--tertiary-dark-to-primary-light);
  font-size: 30px;
  font-family: "Roboto";
  color: var(--secondary-dark-to-primary-light);
  font-weight: 500;
  resize: none;
}
.modal-body .modal-input--descricao::placeholder {
  color: var(--tertiary-dark-to-primary-light);
}
@media (max-width: 768px) {
  .modal-body .modal-input--descricao {
    font-size: 15px;
  }
}

/* Estilizando o ícone do calendário */
input[type=date]::-webkit-calendar-picker-indicator {
  background-color: var(--secondary-dark-to-primary-light);
  color: #FFF !important;
  border-radius: 50%;
  padding: 7px;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
  display: none;
}

input[type=date]::-webkit-input-placeholder {
  color: var(--secondary-dark-to-primary-light);
}

input[type=date]::-webkit-datetime-edit {
  color: var(--secondary-dark-to-primary-light);
}

input[type=date]::-webkit-datetime-edit-fields-wrapper {
  color: var(--secondary-dark-to-primary-light);
}

input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field {
  color: var(--secondary-dark-to-primary-light);
}

#fade, #modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 75%;
  height: 70%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--background-color-v2);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  #modal {
    height: 50%;
  }
}
#modal form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .modal-header {
    flex-direction: column;
  }
}
.modal-header .modal-header--data, .modal-header .modal-header--nome {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal-header svg {
  fill: var(--tertiary-dark-to-primary-light);
}
.modal-header svg path {
  fill: #000;
  stroke: var(--secondary-dark-to-primary-light);
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#fade.hide, #modal.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

main {
  width: 85vw;
  height: 85vh;
  background-color: var(--background-color-v1);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid-layout {
  width: 85%;
  height: 85%;
}

header {
  width: max-content;
  display: flex;
}
@media (max-width: 768px) {
  header {
    align-self: center;
  }
}

:root {
  --background-color-v1: #121215;
  --background-color-v2: #18181C;
  --white-color: #FFF;
  --primary-dark-to-primary-light: #7F5DF5;
  --secondary-dark-to-primary-light: #9698E0;
  --tertiary-dark-to-primary-light: #AEADC3;
  --quaternary-color: #6138F0;
  --white-dark-to-secondary-light: #fff;
  --gray-dark-to-secondary-light: rgba(223,224,251,0.3 );
  --linear-gradient: linear-gradient(to bottom right, #9698E0, #6138F0);
  --font-stack: "Helvetica, Arial, sans-serif";
  --font-title: "Jost";
  --font-title-size: 60px;
  --font-sub-title: "Roboto";
  --font-sub-title-size: 30px;
  --font-text: "Roboto";
  --font-text-size: 20px;
}

.light-theme {
  --background-color-v1: #E8E8E8;
  --background-color-v2: #F3F3F3;
  --primary-dark-to-primary-light: #6138F0;
  --secondary-dark-to-primary-light: #6138F0;
  --tertiary-dark-to-primary-light: #6138F0;
  --white-dark-to-secondary-light: #9698E0;
  --gray-dark-to-secondary-light: rgba(150,152,224,0.3 );
}

/*# sourceMappingURL=main.css.map */
